 <h1 class="allHeader">Update Resource Details</h1>

<div class='resourceDiv'>
<form class="formAddEdit" method="POST" action='/sitemain/resources/{{resource._id}}?_method=PUT'>

 {{!-- player name/id --}}
  <label for="resourceName">Resource Title</label>
  <input type="text" value="{{resource.resourceName}}" name="resourceName" />
{{!-- player names --}}
  <label for="resourceDescription">Description</label>
  <input type="text" value="{{resource.resourceDescription}}" name="resourceDescription" />

  <label for="resourceLink">Link to resource</label>
  <input type="text" value="{{resource.resourceLink}}" name="resourceLink" />

   <label for="resourceAddedBy">Added By</label>
    <input list="players" name="playersDropdown" >
    <datalist id="players" >
      {{#each players}}
        <option value="{{playerAlias}}">
      {{/each}}
    </datalist>
    <input type="submit" value="Save Changes" />
    <input type="submit" value="Cancel" formmethod="GET" formaction="/sitemain/resources">
    <input type="submit" value="Delete"  formaction="/sitemain/resources/{{resource._id}}?_method=DELETE">


  
</form>
</div>