<h1>Circuit: {{circuit._id}}</h1>

<div>
    <p>name:{{circuit.crctName}}</p>
  <p>created by: {{circuit.crcCreatedBy}}</p>
  <p>nameP1: {{circuit.nameP1}}</p>
  <p>nameP2: {{circuit.nameP2}}</p>
  <p>nameP3: {{circuit.nameP3}}</p>
  <p>nameP4: {{circuit.nameP4}}</p>
  <p>scoreP1: {{circuit.scoreP1}}</p>
  <p>scoreP2: {{circuit.scoreP2}}</p>
  <p>scoreP3: {{circuit.scoreP3}}</p>
  <p>scoreP4: {{circuit.scoreP4}}</p>
  <p>marchp1: {{circuit.marchP1}}</p>
  <p>marchp2: {{circuit.marchP2}}</p>
  <p>marchp3: {{circuit.marchP3}}</p>
  <p>marchp4: {{circuit.marchP4}}</p>
  <p>winsp1: {{circuit.winsP1}}</p>
  <p>winsp2: {{circuit.winsP2}}</p>
  <p>winsp3: {{circuit.winsP3}}</p>
  <p>winsp4: {{circuit.winsP4}}</p>
  <p>lossp1: {{circuit.lossP1}}</p>
  <p>lossp2: {{circuit.lossP2}}</p>
  <p>lossp3: {{circuit.lossP3}}</p>
  <p>lossp4: {{circuit.lossP4}}</p>
  <p>totalp1: {{circuit.totalP1}}</p>
  <p>totalp2: {{circuit.totalP2}}</p>
  <p>totalp3: {{circuit.totalP3}}</p>
  <p>totalP4: {{circuit.totalP4}}</p>
</div>