<h1>Circuit: {{circuit._id}}</h1>

<div>
    <p>name:{{circuit.crctName}}</p>
  <p>created by: {{crcCreatedBy}}</p>
  <p>nameP1: {{nameP1}}</p>
  <p>nameP2: {{nameP2}}</p>
  <p>nameP3: {{nameP3}}</p>
  <p>nameP4: {{nameP4}}</p>
  <p>scoreP1: {{scoreP1}}</p>
  <p>scoreP2: {{scoreP2}}</p>
  <p>scoreP3: {{scoreP3}}</p>
  <p>scoreP4: {{scoreP4}}</p>
  <p>marchp1: {{marchP1}}</p>
  <p>marchp2: {{marchP2}}</p>
  <p>marchp3: {{marchP3}}</p>
  <p>marchp4: {{marchP4}}</p>
  <p>winsp1: {{winsP1}}</p>
  <p>winsp2: {{winsP2}}</p>
  <p>winsp3: {{winsP3}}</p>
  <p>winsp4: {{winsP4}}</p>
  <p>lossp1: {{lossP1}}</p>
  <p>lossp2: {{lossP2}}</p>
  <p>lossp3: {{lossP3}}</p>
  <p>lossp4: {{lossP4}}</p>
  <p>totalp1: {{totalP1}}</p>
  <p>totalp2: {{totalP2}}</p>
  <p>totalp3: {{totalP3}}</p>
  <p>totalP4: {{totalP4}}</p>
</div>