<h1>Resume Circuit {{circuit._id}}</h1>

<div class='circuitDiv' id='existingCircuit'>
<form method="POST" action="/sitemain/circuits/{{circuit._id}}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  {{!-- circuit name/id --}}
  <label for="crctName">Circuit Name</label>
  <input type="text" value="{{circuit.crctName}}" name="crctName" />
{{!-- player names --}}
  <label for="crctCreated">Created By</label>
  <input type="text" value="{{circuit.crctCreatedBy}}" name="crctCreatedBy" />

  <label for="nameP1">Player Name 1</label>
  <input type="text" value="{{circuit.nameP1}}" name="nameP1" />

   <label for="nameP2">Player Name 2</label>
  <input type="text" value="{{circuit.nameP2}}"name="nameP2" />

   <label for="nameP3">Player Name 3</label>
  <input type="text" value="{{circuit.nameP3}}" name="nameP3" />

   <label for="nameP4">Player Name 4</label>
  <input type="text" value="{{circuit.nameP4}}" name="nameP4" />
{{!-- score fields --}}
   <label for="scoreP1">Player 1 Score</label>
  <input type="text" value="{{circuit.scoreP1}}" name="scoreP1" />

  <label for="scoreP2">Player 2 Score</label>
  <input type="text" value="{{circuit.scoreP2}}" name="scoreP2" />

    <label for="scoreP3">Player 3 Score</label>
  <input type="text" value="{{circuit.scoreP3}}" name="scoreP3" />

    <label for="scoreP4">Player 4 Score</label>
  <input type="text" value="{{circuit.scoreP4}}" name="scoreP4" />
{{!-- march --}}
    <label for="marchP1">Player 1 Marches</label>
  <input type="text" value="{{circuit.marchP1}}" name="marchP1" />

    <label for="marchP2">Player 2 Marches</label>
  <input type="text" value="{{circuit.marchP2}}" name="marchP2" />

  <label for="marchP3">Player 3 Marches</label>
  <input type="text" value="{{circuit.marchP3}}" name="marchP3" />

  <label for="marchP4">Player 4 Marches</label>
  <input type="text" value="{{circuit.marchP4}}" name="marchP4" />
  {{!-- euchre --}}
    <label for="euchreP1">Player 1 Euchres</label>
  <input type="text" value="{{circuit.euchreP1}}" name="euchreP1" />

    <label for="euchreP2">Player 2 Euchres</label>
  <input type="text" value="{{circuit.euchreP2}}" name="euchreP2" />

    <label for="euchreP3">Player 3 Euchres</label>
  <input type="text" value="{{circuit.euchreP3}}" name="euchreP3" />

     <label for="euchreP4">Player 4 Euchres</label>
  <input type="text" value="{{circuit.euchreP4}}" name="euchreP4" />
    {{!-- loaner --}}
    <label for="loanerP1">Player 1 Loaners</label>
  <input type="text" value="{{circuit.loanerP1}}" name="loanerP1" />

    <label for="loanerP2">Player 2 Loaners</label>
  <input type="text" value="{{circuit.loanerP2}}" name="loanerP2" />

    <label for="loanerP3">Player 3 Loaners</label>
  <input type="text" value="{{circuit.loanerP3}}" name="loanerP3" />

    <label for="loanerP4">Player 4 Loaners</label>
  <input type="text" value="{{circuit.loanerP4}}" name="loanerP4" />
{{!-- wins --}}
  <label for="winsP1">Player 1 Wins</label>
  <input type="text" value="{{circuit.winsP1}}" name="winsP1" />

  <label for="winsP2">Player 2 Wins</label>
  <input type="text" value="{{circuit.winsP2}}"name="winsP2" />

  <label for="winsP3">Player 3 Wins</label>
  <input type="text" value="{{circuit.winsP3}}" name="winsP3" />

  <label for="winsP4">Player 4 Wins</label>
  <input type="text" value="{{circuit.winsP4}}" name="winsP4" />
{{!-- loss --}}
    <label for="lossP1">Player 1 Losses</label>
  <input type="text" value="{{circuit.lossP1}}" name="lossP1" />

    <label for="lossP2">Player 2 Losses</label>
  <input type="text" value="{{circuit.lossP2}}" name="lossP2" />

    <label for="lossP3">Player 3 Losses</label>
  <input type="text" value="{{circuit.lossP3}}" name="lossP3" />

   <label for="lossP4">Player 4 Losses</label>
  <input type="text" value="{{circuit.lossP4}}" name="lossP4" />
{{!-- total --}}
     <label for="totalP1">Player 1 Total</label>
  <input type="text" value="{{circuit.totalP1}}" name="totalP1" />

       <label for="totalP2">Player 2 Total</label>
  <input type="text" value="{{circuit.totalP2}}" name="totalP2" />

         <label for="totalP3">Player 3 Total</label>
  <input type="text" value="{{circuit.totalP3}}" name="totalP3" />

         <label for="totalP4">Player 4 Total</label>
  <input type="text" value="{{circuit.totalP4}}" name="totalP4" />

{{!-- submit new circuit --}}
  <input type="submit" value="Update Circuit" />
</form>
<form method="POST" action="/sitemain/circuits/{{circuit._id}}?_method=DELETE">
<input type="submit" value="Delete Circuit" />
</form>

</div>

<h1>Single Circuit View: {{circuit._id}}</h1>


<container class="circuitsMain" "clearfix">
    <container class="circuitBoard" id="circuitScore">
        <div aria-label="circuit"
            aria-describedby="caption" class="table" role="grid"
        >
            <h1 class="head">{{circuit.crctName}}</h1>
            <div class="tr" role="row">
        
                <div class="th" role="columnheader">
                Players
                </div>
                <div class="th" role="columnheader">
                Score
                </div>
                <div class="th" role="columnheader">
                Loaners
                </div>
                <div class="th" role="columnheader">
                Euchres
                </div>
                <div class="th" role="columnheader">
                Marches
                </div>
                <div class="th" role="columnheader">
                Wins
                </div>
                <div class="th" role="columnheader">
                Losses
                </div>
                <div class="th" role="columnheader">
                Total
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP1">
                {{circuit.nameP1}}
                </div>
                <div class="td" role="gridcell" id="scoreP1">
                {{circuit.scoreP1}}
                </div>
                <div class="td" role="gridcell" id="loanerP1">
                {{circuit.loanerP1}}
                </div>
                <div class="td" role="gridcell" id="euchreP1">
                {{circuit.euchreP1}}
                </div>
                <div class="td" role="gridcell" id="marchP1">
                {{circuit.marchP1}}
                </div>
                <div class="td" role="gridcell" id="winsP1">
                {{circuit.winsP1}}
                </div>
                <div class="td" role="gridcell" id="lossP1">
                {{circuit.lossP1}}
                </div>
                <div class="td" role="gridcell" id="totalP1">
                {{circuit.totalP1}}
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP2">
                {{circuit.nameP2}}
                </div>
                <div class="td" role="gridcell" id="scoreP2">
                {{circuit.scoreP2}}
                </div>
                <div class="td" role="gridcell" id="loanerP2">
                {{circuit.loanerP2}}
                </div>
                <div class="td" role="gridcell" id="euchreP2">
                {{circuit.euchreP2}}
                </div>
                <div class="td" role="gridcell" id="marchP2">
                {{circuit.marchP2}}
                </div>
                <div class="td" role="gridcell" id="winsP2">
                {{circuit.winsP2}}
                </div>
                <div class="td" role="gridcell" id="lossP2">
                {{circuit.lossP2}}
                </div>
                <div class="td" role="gridcell" id="totalP2">
                {{circuit.totalP2}}
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP3">
                {{circuit.nameP3}}
                </div>
                <div class="td" role="gridcell" id="scoreP3">
                {{circuit.scoreP3}}
                </div>
                <div class="td" role="gridcell" id="loanerP3">
                {{circuit.loanerP3}}
                </div>
                <div class="td" role="gridcell" id="euchreP3">
                {{circuit.euchreP3}}
                </div>
                <div class="td" role="gridcell" id="marchP3">
                {{circuit.marchP3}}
                </div>
                <div class="td" role="gridcell" id="winsP3">
                {{circuit.winsP3}}
                </div>
                <div class="td" role="gridcell" id="lossP3">
                {{circuit.lossP3}}
                </div>
                <div class="td" role="gridcell" id="totalP3">
                {{circuit.totalP3}}
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP4">
                {{circuit.nameP4}}
                </div>
                <div class="td" role="gridcell" id="scoreP4">
                {{circuit.scoreP4}}
                </div>
                <div class="td" role="gridcell" id="loanerP4">
                {{circuit.loanerP4}}
                </div>
                <div class="td" role="gridcell" id="euchreP4">
                {{circuit.euchreP4}}
                </div>
                <div class="td" role="gridcell" id="marchP4">
                {{circuit.marchP4}}
                </div>
                <div class="td" role="gridcell" id="winsP4">
                {{circuit.winsP4}}
                </div>
                <div class="td" role="gridcell" id="lossP4">
                {{circuit.lossP4}}
                </div>
                <div class="td" role="gridcell" id="totalP4">
                {{circuit.totalP4}}
                </div>
            </div>
        </div>
    </container>
    <container class="circuitBoard" id="roundScore">
      <form name="teamInputs" id="teamInputsfrm" action="#">
        <div aria-label="circuit"
            aria-describedby="caption" class="table" role="grid"
        >
            <h1 class="head">Round Scoring</h1>
            <div class="tr" role="row">
        
                <div class="th" role="columnheader">
                Teams
                </div>
                <div class="th" role="columnheader">
                Score
                </div>
                <div class="th" role="columnheader">
                Loaners
                </div>
                <div class="th" role="columnheader">
                Euchres
                </div>
                <div class="th" role="columnheader">
                Marches
                </div>
                <div class="th" role="columnheader">
                Wins
                </div>
                <div class="th" role="columnheader">
                Losses
                </div>
                <div class="th" role="columnheader">
                Total
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                <input name="team1" type="checkbox" />
                <label for="team1" >(team1):P1+P2</label>
                </div>
                <div class="td" role="gridcell">
                <input type ="number"/>
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                (team2):P3+P4
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                (team3):P1+P3
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                (team4):P2+P4
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                (team5):P1+P4
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                (teams6):P2+P3
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
                <div class="td" role="gridcell">
                
                </div>
            </div>
        </div>
        <input type="submit" id="subRound" value="Submit Round" onclick="submitRound();" >
      {{!-- End of roundScoring form --}}
      </form>   
    {{!-- End of roundScoring container --}}
    </container>
    <wrapper class="sideList">
        <div class="circuitList">
            <h3 class="listheader">All Circuits</h3>
                <ul>
                    {{#each circuits}}
                    <li><a href="/sitemain/circuits/{{_id}}"> {{crctName}}</a></li>
                    {{/each}}
                </ul>
            <a href="/sitemain/circuits/new">Click here to add a circuit</a>
        </div>
    </wrapper>
    <div class="circuitButtons">
        <button id="start">Start</button>
        <button id="resume">Resume</button>
        <button id="save">Save</button>
        <button id="delete">Delete</button>
        <button id="start">Add Player</button>
        {{!-- <button id="submitRound">Submit Round</button> --}}
    </div>

</container>

<a  href="/sitemain/circuits/{{circuit._id}}/edit">Edit Issue</a>