

<container class="circuitsMain" "clearfix">
    <container class="circuitBoard" id="circuitScore">
        <div aria-label="circuit"
            aria-describedby="caption" class="table" role="grid"
        >
          <form id="updateCircuit" method="POST" action="/sitemain/circuits/{{circuit._id}}?_method=PUT">
            <h1 class="head">{{circuit.crctName}}</h1>
            <div class="tr" role="row">
        
                <div class="th" role="columnheader">
                Players
                </div>
                <div class="th" role="columnheader">
                Score
                </div>
                <div class="th" role="columnheader">
                Loaners
                </div>
                <div class="th" role="columnheader">
                Euchres
                </div>
                <div class="th" role="columnheader">
                Marches
                </div>
                <div class="th" role="columnheader">
                Wins
                </div>
                <div class="th" role="columnheader">
                Losses
                </div>
                <div class="th" role="columnheader">
                Total
                </div>
            </div>
            <div class="tr" role="row" >
                <div class="th" role="rowheader" id="nameP1">
                {{circuit.nameP1}}
                </div>
                <input class="td" role="gridcell" type="number" id="cscoreP1" value="{{circuit.scoreP1}}" name="scoreP1" readonly>
                 <input class="td" role="gridcell" type="number" id="cloanerP1" value="{{circuit.loanerP1}}" name="loanerP1" readonly>
                  <input class="td" role="gridcell" type="number" id="ceuchreP1" value="{{circuit.euchreP1}}" name="euchreP1" readonly>
                   <input class="td" role="gridcell" type="number" id="cmarchP1" value="{{circuit.marchP1}}" name="marchP1" readonly>
                    <input class="td" role="gridcell" type="number" id="cwinsP1" value="{{circuit.winsP1}}" name="winsP1" readonly>
                     <input class="td" role="gridcell" type="number" id="clossP1" value="{{circuit.lossP1}}" name="lossP1"readonly>
                     <input class="td" role="gridcell" type="number" id="ctotalP1" value="{{circuit.totalP1}}" name="totalP1"readonly>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP2">
                {{circuit.nameP2}}
                </div>
                <input class="td" role="gridcell" type="number" id="cscoreP2" value="{{circuit.scoreP2}}" name="scoreP2" readonly>
                 <input class="td" role="gridcell" type="number" id="cloanerP2" value="{{circuit.loanerP2}}" name="loanerP2" readonly>
                  <input class="td" role="gridcell" type="number" id="ceuchreP2" value="{{circuit.euchreP2}}" name="euchreP2" readonly>
                   <input class="td" role="gridcell" type="number" id="cmarchP2" value="{{circuit.marchP2}}" name="marchP2" readonly>
                    <input class="td" role="gridcell" type="number" id="cwinsP2" value="{{circuit.winsP2}}" name="wins2" readonly>
                     <input class="td" role="gridcell" type="number" id="clossP2" value="{{circuit.lossP2}}" name="lossP2" readonly>
                       <input class="td" role="gridcell" type="number" id="ctotalP2" value="{{circuit.totalP2}}" name="totalP2" readonly> 
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP3">
                {{circuit.nameP3}}
                </div>
                <input class="td" role="gridcell" type="number" id="cscoreP3" value="{{circuit.scoreP3}}" name="scoreP3"readonly>
                 <input class="td" role="gridcell" type="number" id="cloanerP3" value="{{circuit.loanerP3}}" name="loanerP3"readonly>
                  <input class="td" role="gridcell" type="number" id="ceuchreP3" value="{{circuit.euchreP3}}" name="euchreP3"readonly>
                   <input class="td" role="gridcell" type="number" id="cmarchP3" value="{{circuit.marchP3}}" name="marchP3"readonly>
                    <input class="td" role="gridcell" type="number" id="cwinsP3" value="{{circuit.winsP3}}" name="winsP3"readonly>
                     <input class="td" role="gridcell" type="number" id="clossP3" value="{{circuit.lossP3}}" name="lossP3"readonly>
                     <input class="td" role="gridcell" type="number" id="ctotalP3" value="{{circuit.totalP3}}" name="totalP3"readonly>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader" id="nameP4">
                {{circuit.nameP4}}
                </div>
                <input class="td" role="gridcell" type="number" id="cscoreP4" value="{{circuit.scoreP4}}" name="scoreP4"readonly>
                 <input class="td" role="gridcell" type="number" id="cloanerP4" value="{{circuit.loanerP4}}"name="loanerP4"readonly>
                  <input class="td" role="gridcell" type="number" id="ceuchreP4" value="{{circuit.euchreP4}}" name="euchreP4"readonly>
                   <input class="td" role="gridcell" type="number" id="cmarchP4" value="{{circuit.marchP4}}" name="marchP4"readonly>
                    <input class="td" role="gridcell" type="number" id="cwinsP4" value="{{circuit.winsP4}}" name="winsP4"readonly>
                     <input class="td" role="gridcell" type="number" id="clossP4" value="{{circuit.lossP4}}" name="lossP4"readonly>
                     <input class="td" role="gridcell" type="number" id="ctotalP4" value="{{circuit.totalP4}}" name="totalP4"readonly>
            </div>
          </form>
        </div>
    </container>
    <container class="circuitBoard" id="roundScore">
      <form name="teamInputs" id="teamInputsfrm" action="#">
        <div aria-label="circuit"
            aria-describedby="caption" class="table" role="grid"
        >
            <h1 class="head">Round Scoring</h1>
            <h4 class="head">Input scores for each team pairing below. Select 'Submit Round' to update this circuit</h4>
            <div class="tr" role="row">
        
                <div class="th" role="columnheader">
                Teams
                </div>
                <div class="th" role="columnheader">
                Score
                </div>
                <div class="th" role="columnheader">
                Loaners
                </div>
                <div class="th" role="columnheader">
                Euchres
                </div>
                <div class="th" role="columnheader">
                Marches
                </div>
                <div class="th" role="columnheader">
                Wins
                </div>
                <div class="th" role="columnheader">
                Losses
                </div>
                <div class="th" role="columnheader">
                Total
                </div>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                Team1:P1+P2
                </div>
                <input class="td" role="gridcell" name="scoreT1" type ="number" min="0" id="scoreT1" value="0"/>
                <input class="td" role="gridcell" name="loanerT1" type ="number" id="loanerT1" value="0"/>
                <input class="td" role="gridcell" name="euchreT1" type ="number" id="euchreT1" value="0"/>
                <input class="td" role="gridcell" name="marchT1" type ="number" id="marchT1" value="0"/>
                <input class="td" role="gridcell" name="winsT1" type ="number" id="winsT1" value="0"/>
                <input class="td" role="gridcell" name="lossT1" type ="number" id="lossT1" value="0"/>
                <input class="td" role="gridcell" name="totalT1" type ="number" id="totalT1" value="0" readonly/>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                    Team2:P3+P4
                </div>
                <input class="td" role="gridcell" name="scoreT2" type ="number" id="scoreT2" value="0"/>
                <input class="td" role="gridcell" name="loanerT2" type ="number" id="loanerT2" value="0"/>
                <input class="td" role="gridcell" name="euchreT2" type ="number" id="euchreT2" value="0"/>
                <input class="td" role="gridcell" name="marchT2" type ="number" id="marchT2" value="0"/>
                <input class="td" role="gridcell" name="winsT2" type ="number" id="winsT2" value="0"/>
                <input class="td" role="gridcell" name="lossT2" type ="number" id="lossT2" value="0"/>
                <input class="td" role="gridcell" name="totalT2" type ="number" id="totalT2" value="0" readonly/>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                    Team3:P1+P3
                </div>
                <input class="td" role="gridcell" name="scoreT3" type ="number" id="scoreT3" value="0"/>
                <input class="td" role="gridcell" name="loanerT3" type ="number" id="loanerT3" value="0"/>
                <input class="td" role="gridcell" name="euchreT3" type ="number" id="euchreT3" value="0"/>
                <input class="td" role="gridcell" name="marchT3" type ="number" id="marchT3" value="0"/>
                <input class="td" role="gridcell" name="winsT3" type ="number" id="winsT3" value="0"/>
                <input class="td" role="gridcell" name="lossT3" type ="number" id="lossT3" value="0"/>
                <input class="td" role="gridcell" name="totalT3" type ="number" id="totalT3" value="0" readonly/>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                Team4:P2+P4                
                </div>
                <input class="td" role="gridcell" name="scoreT4" type ="number" id="scoreT4" value="0"/>
                <input class="td" role="gridcell" name="loanerT4" type ="number" id="loanerT4" value="0"/>
                <input class="td" role="gridcell" name="euchreT4" type ="number" id="euchreT4" value="0"/>
                <input class="td" role="gridcell" name="marchT4" type ="number" id="marchT4" value="0"/>
                <input class="td" role="gridcell" name="winsT4" type ="number" id="winsT4" value="0"/>
                <input class="td" role="gridcell" name="lossT4" type ="number" id="lossT4" value="0"/>
                <input class="td" role="gridcell" name="totalT4" type ="number" id="totalT4" value="0" readonly/>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                    Team5:P1+P4
                </div>
                <input class="td" role="gridcell" name="scoreT5" type ="number" id="scoreT5" value="0"/>
                <input class="td" role="gridcell" name="loanerT5" type ="number" id="loanerT5" value="0"/>
                <input class="td" role="gridcell" name="euchreT5" type ="number" id="euchreT5" value="0"/>
                <input class="td" role="gridcell" name="marchT5" type ="number" id="marchT5" value="0"/>
                <input class="td" role="gridcell" name="winsT5" type ="number" id="winsT5" value="0"/>
                <input class="td" role="gridcell" name="lossT5" type ="number" id="lossT5"value="0"/>
                <input class="td" role="gridcell" name="totalT5" type ="number" id="totalT5" value="0" readonly/>
            </div>
            <div class="tr" role="row">
                <div class="th" role="rowheader">
                    Team6:P2+P3
                </div>
                <input class="td" role="gridcell" name="scoreT6" type ="number" id="scoreT6" value="0"/>
                <input class="td" role="gridcell" name="loanerT6" type ="number" id="loanerT6" value="0"/>
                <input class="td" role="gridcell" name="euchreT6" type ="number" id="euchreT6" value="0"/>
                <input class="td" role="gridcell" name="marchT6" type ="number" id="marchT6" value="0"/>
                <input class="td" role="gridcell" name="winsT6" type ="number" id="winsT6" value="0"/>
                <input class="td" role="gridcell" name="lossT6" type ="number" id="lossT6" value="0"/>
                <input class="td" role="gridcell" name="totalT6" type ="number" id="totalT6" value="0" readonly/>
            </div>
        </div>
        <input type="submit" id="subRound" value="Submit Round" onclick="submitRound();" >
        <input type="submit" id="subReset" value="Reset Round Scoring values" onclick="confirmResetRound();" >
        <input type="submit" form="updateCircuit"  value="Save Circuit" />
        
      {{!-- End of roundScoring form --}}
      </form>   
    {{!-- End of roundScoring container --}}
    </container>
    <wrapper class="sideList">
        <div class="circuitList">
            <h3 class="listheader">All Circuits</h3>
                <ul>
                    {{#each circuits}}
                    <li><a href="/sitemain/circuits/{{_id}}"> {{crctName}}</a></li>
                    {{/each}}
                </ul>
            <a href="/sitemain/circuits/new">Click here to add a circuit</a>
        </div>
    </wrapper>
    <div class="circuitButtons">
        <button id="start" onclick="location.href='/sitemain/circuits/{{circuit._id}}/resumeScoring';">Start/Resume</button>
        <button id="editDetails" onclick="location.href='/sitemain/circuits/{{circuit._id}}/editDetails';">Edit Circuit Details</button>
        <button id="start" onclick="location.href='/sitemain/players/new';">Add Player to Site</button>
        {{!-- <button id="submitRound">Submit Round</button> --}}
    </div>

</container>

